@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../fonts/roboto-regular-webfont.woff/") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-medium-webfont.woff2") format("woff2"),
    url("../fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  color: #727272;
  font: 400 16px/1.6 "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

#header {
  background: #eeeff1;
  padding: 79px 0;
}

.navigation {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.navigation ul {
  padding: 0;
  margin: 0 -21px;
  list-style: none;
  overflow: hidden;
}

.navigation li {
  float: left;
  margin: 0 21px 5px;
}

.navigation a {
  text-decoration: none;
  color: #000000;
}

.navigation a:hover {
  color: #34547a;
}

.hero-section {
  padding: 70px 0 141px;
  background: #eeeff1;
}

.content {
  max-width: 540px;
}

p {
  margin: 0 0 57px;
}

h1,
h2 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  color: #000000;
  margin: 0 0 50px;
}

h2 {
  font-size: 32px;
  margin: 0 0 38px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 20px 34px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #ffffff;
  background: #34547a;
  text-decoration: none;
  border: 2px solid #34547a;
}

.btn:hover {
  color: #34547a;
  background: #ffffff;
}

.about {
  padding: 113px 0 93px;
  background: #ffffff;
}

.about .content {
  display: inline-block;
  vertical-align: top;
  /* margin: 0 auto; */
}

.about p {
  margin-bottom: 0;
}

.items-section {
  padding: 36px 0;
  background: #34547a;
  color: #fff;
}

.items-list {
  margin: 60px -25px;
  padding: 0;
  list-style: none;
}

.items-list li {
  display: inline-block;
  padding: 0 25px;
}

.item {
  overflow: hidden;
}

.item p {
  margin: 0;
}

.item img {
  float: left;
  margin: 0 20px 0 0;
}

.item-hold {
  overflow: hidden;
}

.item-hold span {
  text-align: left;
  display: block;
  font-size: 21px;
  line-height: 25px;
}

.work-section {
  padding: 100px 0 40px;
  background: #eeeff1;
}

.work-section .content {
  display: inline-block;
  vertical-align: top;
}

.video {
  display: block;
  padding: 0 0 46px;
}

#footer {
  padding: 25px 0 40px;
  background: #34547A;
}

h3 {
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  color: #FFFFFF;
}

#footer p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
}